name: CI tests

on: [push, pull_request]

jobs:
  linux:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        versions:
          - ghc: '8.10'
            cabal: '3.2'
          - ghc: '9.0'
            cabal: '3.4'
          - ghc: '9.2'
            cabal: '3.4'
          - ghc: '9.4'
            cabal: '3.10'
          - ghc: '9.6'
            cabal: '3.10'
          - ghc: '9.8'
            cabal: '3.10'
          - ghc: '9.10'
            cabal: 'latest'
          - ghc: '9.12'
            cabal: 'latest'
    steps:
    - uses: actions/checkout@v4

    - name: Install cabal/ghc
      run: |
        ghcup install ghc --set ${{ matrix.versions.ghc }}
        ghcup install cabal --set ${{ matrix.versions.cabal }}

    - name: Cache cabal global package db
      id:   cabal-global
      uses: actions/cache@v4
      with:
        path: |
          ~/.cabal
        key: ${{ runner.os }}-${{ matrix.versions.ghc }}-${{ matrix.versions.cabal }}-cabal-global-${{ secrets.CACHE_VERSION }}

    - name: Install dependencies
      run: |
          cabal v2-update
          cabal v2-build --dependencies-only --enable-tests --disable-optimization all

    - name: Build and test
      run: |
          cabal v2-build --enable-tests --disable-optimization all 2>&1 | tee build.log
          # fail if warnings in local build
          ! grep -q "Commonmark.*[Ww]arning:" build.log || exit 1
          cabal v2-test --disable-optimization all

  windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install stack
      shell: cmd
      run: |
          choco install haskell-stack
    - name: Install dependencies
      run: |
          stack update
          stack test --dependencies-only --fast
    - name: Build and test
      shell: cmd
      run: |
          chcp 65001
          stack install --ghc-options=-Werror --fast --test --haddock --no-haddock-deps --bench --no-run-benchmarks

# macos:

#   runs-on: macOS-latest

#   steps:
#   - uses: actions/checkout@v4
#   - name: Install stack
#     run: |
#         curl -L https://get.haskellstack.org/stable/osx-x86_64.tar.gz -o stack.tar.gz
#         tar xzvf stack.tar.gz --strip-components=1 'stack*/stack'
#   - name: Install dependencies
#     run: |
#         ./stack update
#         ./stack test --dependencies-only --fast
#   - name: Build and test
#     run: |
#         ./stack install --ghc-options=-Werror --test --haddock --no-haddock-deps --bench
